<div class="container">
  <div class="row">
      <div class="col-md-3">
    <table class="table">
    <th class="bg-light">ジャンル検索</th>
      <% @genres.each do |f|%>
      <% if f.status == true %>
    <tr>
      <td>
      <%# ジャンルが無効なら表示しない %>
      <%= link_to f.name, genre_path(f.id) %>
      <% end %></td>
    </tr>
      <% end %>
    </table>
    </div>

    <div class="col-9">
      <div class="jumbotron">
        <p>
          ようこそ、長野ケーキへ！<br>
          このサイトは、ケーキ販売のECサイトになります。<br>
          会員でないかたも商品の閲覧ができますが、<br>
          購入には会員登録が必要になります。
        </p>
      </div>
      <div class="recomend-products">
        <h2>おすすめ商品</h2>
        <div class="d-flex flex-row">
          <% @products.each do |product| %>
            <div class="p-1 mr-2 bg-success">
              <p class="bg-secondary">
                image!!<br/>
                image!!<br/>
                image!!<br/>
              </p>
              <p><%= product.name %></p>
              <p><%= product.price %></p>
            </div>
          <% end %>
        </div>
      </div>
      <%= link_to "もっと見る>", products_path, class: "nav justify-content-end" %>
    </div>
  </div>
</div>