/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

// Devise-ログイン画面のフォームを中央に寄せるために使用（ほりゆう）
.all-view {
  margin-top: 100px;
  margin-left: 200px;
}

*{
    font-family: serif;
}

.shop-name {
    font-family: "Monotype Corsiva", fantasy;
    color: #e9bc00;
    font-size: 30px;
    margin-left: 12px;
    margin-right: 12px;
}

.logo {
	background-color: white;
}


header,footer {
	background-color: #622d18;
}

header {
    .nav-item {
      background-color: #ead7a4;
    }
    .nav-text {
      font-family: sans-serif;
      color: black;
    }
}