// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart-page {

  .btn-kara {
    border:1px solid #F99292;
    color: #F99292;
    &:hover {
      background: #F99292;
      opacity: 0.8;
      color: #ffff;
      }
  }

  .btn-destroy {
    border:1px solid #F99292;
    color: #F99292;
    &:hover {
      background: #F99292;
      opacity: 0.8;
      color: #ffff;
      }
  }

  .btn-zougen{
    border:1px solid #79A1D4;
    color: #79A1D4;
    &:hover {
      background: #79A1D4;
      opacity: 0.8;
      color: #ffff;
      }
  }

  .btn-cart{
    border:1px solid #79A1D4;
    color: #79A1D4;
    &:hover {
      background: #79A1D4;
      opacity: 0.8;
      color: #ffff;
      }
  }

  .btn-go-order{
    border:1px solid #a5c272;
    color: #a5c272;
    &:hover {
      background: #a5c272;
      opacity: 0.8;
      color: #ffff;
      }
  }

  .cart-title {
    padding:0 30px;
    background: #FFEED5;
    border-left: 20px solid tan;
  }

  .stock-form {
    width:50px;
    text-align:center;
  }

  table {
    border-collapse: collapse;
  }

  .th-p1 {
    width:300px;
  }

  th {
    background: #FFEED5;
    width:100px;
  }

  .button_chuuou {
    text-align:center;
  }
}

