// Place all the styles related to the deliveries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.delivery-page {
//カラーの変数を定義
$main-color: #FFEED5;
$success-color: #79A1D4;
$danger-color: #F99292;

//共通の部品を定義してるよ
//ページタイトルの部品
@mixin page_title {
    background: $main-color;
    border-left: 20px solid tan;
}
//ボタン部品
@mixin success_btn {
    border:1px solid;
    color: $success-color;
    &:hover {
        background: $success-color;
        opacity: 0.8;
        color: #ffff;
    }
}
@mixin danger_btn {
    border:1px solid $danger-color;
    color: $danger-color;
    &:hover {
        background: $danger-color;
        opacity: 0.8;
        color: #ffff;
    }
}
@mixin ok_btn {
width:200px;
  text-align:center;
  border:1px solid #a5c272;
  color: #a5c272;
  border-radius:5px;
  &:hover {
    background: #a5c272;
    opacity: 0.8;
    color: #ffff;
    text-decoration: none;
    }
  }

.db-btn {
  @include success_btn
}

.dd-btn {
  @include danger_btn
}

.do-btn {
  @include ok_btn
}

}